<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="card"><br>
        <h2 style="text-align:center;">Profile</h2>
        <img src="../../assets/icon/user.png" alt="Profile" style="width:30%">
        <h1>{{profile['fname']}} {{profile['lname']}}</h1>
        <p>Year: {{profile['Year']}} Age:{{profile['age']}}</p>
        <p class="title">University: {{profile['university']}}</p>

        <div style="margin: 24px 0;" *ngIf="profile['link'] != ''">
            <a href="{{profile['link']}}" target="_blank"><img src="../../assets/icon/facebook.png" alt="Facebook" style="width:7%;  vertical-align: text-bottom;"> Contact</a>
        </div>
        <p><button (click)="back()">Back Page</button></p>
    </div>

</body>