<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<!-- <body> -->

<div class="container" style="margin: auto; margin-top: 5%;">
    <div class="card-header" style="background-color: rgb(185, 213, 213);">
        <h2>Form Profile</h2>
    </div>
    <div class="card-body" style="background-color: floralwhite;">
        <form [formGroup]='formInput' (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" placeholder="First Name" name="fname" formControlName="fname" required>
            </div>
            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" placeholder="Last Name" name="lname" formControlName="lname">
            </div>
            <div class="form-group">
                <label for="age">Age :</label>
                <input type="number" class="form-control" placeholder="age" name="age" formControlName="age" min="1">
            </div>
            <div class="form-group">
                <label for="age">University :</label>
                <input type="text" class="form-control" placeholder="University" name="university" formControlName="university">
            </div>
            <div class="form-group">
                <label for="link">Link FaceBook:</label>
                <input type="text" class="form-control" placeholder="URL" name="link" formControlName="link">
            </div>
            <div class="form-group">
                <label for="Year">Choose a year: </label>
                <select name="Year" id="Year" formControlName="Year">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

</div>
<!-- </body> -->